/* NavBar css */
.navBar {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navBar a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navBar a:hover {
  background-color: #ddd;
  color: black;
}

.navBar .icon {
  display: none;
}

@media screen and (max-width: 393px) {
  .navBar a:not(first-child) {
    display: none;
  }
  .navBar a.icon {
    float: right;
    display: block;
  }
  .navBar {
    display: block;
  }
}

@media screen and (max-width: 393px) {
  .navBar.responsive {
    position: relative;
  }
  .navBar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navBar.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}

*/ a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  size: 18px;
  line-height: 21.78px;
  padding: 5px;
  color: rgba(0, 0, 0, 1);
}
hr {
  height: 10px;
  border: 0;
  box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.25) inset;
}
/* Rectangle css */
.rectangle {
  display: flex;
  width: 1203px;
  height: 385px;
  margin-top: 60px;
  margin-left: 119px;
  border-radius: 15px;
  border: 1px;
}
/* 3 boxes css */
.box {
  display: flex;
  text-align: center;
  width: 33.3333333%;
  height: 385px;
  padding: 1px;
  border: 1px solid #000000;
  border-radius: 15px;
}

.gridD3 {
  padding: 2px;
}
.d1 {
  background: linear-gradient(135.38deg, #3300ff 0%, #fa00ff 98.32%);
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 20px;
}
.d2 {
  border: 4px;
  margin-right: 16px;
}

.parentGrid {
  display: flex;
  width: auto;
}

.container {
  width: 385px;
  height: 385px;
  margin-right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.square {
  width: 100px;
  height: 100px;
  background: rgba(0, 64, 122, 1);

  border-radius: 5px;
}
#b22 {
  background: rgba(122, 0, 0, 1);
}
